<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
		
	
	<listeners>
		<listener class-name="utilities.ExtentReportManager"/>
		
	</listeners>
	
	<test thread-count="1" name="Test">
		
		<parameter name ="browser" value="chrome" />
		
		<classes>
			
			
				<class name="testCases.TC_001_getfreedemo_page"/> 
				 	<class name="testCases.TC_002_SignIn_page"/>    
		<!-- <class name="testCases.TC_003_Login_Logout"/>   -->
			 		<class name="testCases.TC_004_AddNewUser"/>    
				<class name="testCases.TC_005_AddNewOrder"/>     
					 
			 <class name="testCases.TC_006_AddNewProduct"/>  
			 	    
         	 <class name="testCases.TC_007_CreateNewCustomer"/>  
			 <class name="testCases.TC_008_Customer_SlidePagination"/>
				 <class name="testCases.TC_009_AddNewCoupon"/>  
							  <class name="testCases.TC_010_AddcouponWithDiscountPer"/>
				 <class name="testCases.TC_011_AddCouponFreeShipping"/>	 
				<class name="testCases.TC_012_AddCouponBuyXGetY"/> 
			 <class name="testCases.TC_013_AddNewCustomCollection"/>  
			<class name="testCases.TC_014_AddCollectionWithSubCollection"/> 
			  <class name="testCases.TC_015_AddBrandCollection"/> 
 				<class name="testCases.TC_016_AddNewBlogs"/> 
 				
 				<class name="testCases.TC_017_DeleteBlogs"/> 
				 
	       <class name="testCases.TC_018_EditBlog"/>	 
				 <!-- <class name="testCases.TC_019_FindBrokenLink"/>  -->

				 	
			
	             
	             	
	             	
		</classes>
		
	</test>
	
</suite>












<!-- test case run using three different way below :
 1. pom.xml , click mvn test command and
	2.command prompt cd: project path then mvn test or mvn clean test 
		3.also using run.bat file 
	       add simple file in eclipse and go to run.bat file local location and open in local notepad then write command
	           cd C:\Users\101Reporters\eclipse-workspace\Foundry_framework  // project directory
					mvn clean test                        // command
	just click on run.bat file automatically open cmd and test case executed

Note: for Generate Allure Report Add allure-testng dependencies
       set path :This PC> Properties> Advanced system setting> env variable > System variable>
         CMD command is allure serve  : allure serve .allure result file location 
use : https://docs.qameta.io/allure/#_installing_a_commandline

** below annotoation use for customize allure report  ***

	@Description("Verify sign in is successfully") : description
	@Epic("FE001")                              : epic (same as agile terminology)
	@Feature("feaure 1 : sign In")               : feature (same as agile terminology)       
	@Story("story: sign In done")                 : story (same as agile terminology)
	@Step("username and password valid ")        
	@Severity(SeverityLevel.CRITICAL)              : to show severity of the testcase ,critical, mior blocer, normal
   @Attachment                                      : use in BaseClass while run screenshot method 

	 -->        


 <!-- TC_014 : throwing 404 Error for this test case  due to selecting Sub-Collection checkbox-->
<!--  
	Error obsrved
org.openqa.selenium.NoSuchElementException
org.openqa.selenium.StaleElementReferenceException
org.openqa.selenium.NoSuchSessionException
org.openqa.selenium.interactions.MoveTargetOutOfBoundsException 
org.openqa.selenium.TimeoutException  
org.openqa.selenium.json.JsonException
java.lang.reflect.InvocationTargetException
org.openqa.selenium.InvalidSelectorException
java.lang.IllegalArgumentException
java.lang.reflect.InvocationTargetException
-->


	
	<!--

	

	 github token  : https://github.com/settings/tokens
	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

	https://github.com/Abh0/Foundry_Aarrrmor.com.git
	https://github.com/AARRRmor-Digital-Services/foundry-test.git


	

 Git Command :  
1. git init : inittialise the repo , only one time
2. cd path set
3. git config -global user.name Abhishek  				 (double hyphen is there before global )
4. git config -global user.email abhishekbhndr114@gmail.com  (double hyphen is there before global )
5. git status
6. git add -a : for all 
7. git add filename.extension : specific file
8. git add *.java  : particular extension file 
9. git commit -m "commit msg"
10. git remote add origin "github repo url"
11. git push origin master
12. create token in github : profile- setting- developer setting - create new token - enter note.
13. git pull "repo url" : pull any remote file into local editor and update it and again push into remote.
14.									
	
	

	

     Git command : add same project in new repo
	1.git clone <companyrepo_url>
	2.cd your project directory path
	3.git remote add personal <personal repo_url>
	4.git push personal
-->

	
	
	
	
	
	
	
	<!--
		  
	::: jenkins integration ::::
	1. download jenkins.war file and keep file in c drive
		https://www.jenkins.io/download/     Download Jenkins 2.414.1 LTS for: Generic  java package (.war)
	2. open cmd through in jenkins.war folder	
     3. use command: java -jar jenkins.war -httpPort=8081  : after jenkins will start and running then dont  closed cmd window
	4. open http://localhost:8081 url in chrome
		jenkins username : admin and password:1947c58c49914b358a006d556c89e3f7
		 is avaibale in local this location * C:\Users\101Reporters\.jenkins\secrets\initialAdminPassword
		5. open jenkins  dashboard (need to add download plugins 1. Git, 2. Github, 3. maven integration)
		   click on manage jenkins
           click on manage plugins
           Avaible settings
		  Search pluging and install (git, github, maven integration)

	
6. then SET PATH : agian go to manage jenkins	 (set path in jenkins dashboard only)  http://localhost:8081/manage/configureTools/
	 click on   Global tool configuration 	
		  set path JDK : name and java.HOME *C:\Program Files\Java\jdk-17.0.4.1*
                   git path : name and path *C:\Program Files\Git\bin\git.exe*
	                 maven path : name path *C:\apache-maven-3.9.4  *             		
 7. click on New Item+ 
		     Enter item name : foundry.aarrrmor_project
		      select maven project.
		      click on OK
		   
http://localhost:8081/job/foundry.aarrrmor_Project/8/       : jenkins url
		
	-->
	
	
	
	
<!-- 
C:\Users\101Reporters\eclipse-workspace\Foundry_Aarrrmor.com 
-->




